<div class="page-header">
  <h1>{{ page.title }}{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span14 page-content">
    {{ content }}
    {% if page.author %}
  	<div>
  		Autor: <a rel="author" href="https://profiles.google.com/{{ site.authors[page.author].google }}">{{ site.authors[page.author].name }}</a>
  	</div>
  	{% endif %}
  	{% if page.rating %}
	<div class="hreview">
		<span class="item">
			<span class="fn">{{ page.title }}</span>
		</span>
		<span class="rating">{{ page.rating }}</span>
		<span class="reviewer">{{ site.authors[page.author].name }}</span>
		<abbr class="dtreviewed" title="20120229">February 29th 2012</abbr>
		<span class="summary">{{ page.tagline }}</span>
		<span class="description">{{ page.description }}</span>
	</div>
	{% endif %}
  </div>
</div>
